<%= flash[:notice] %>
<div class="row">
<div class="col-md-3">
<%= render 'saidebar', book: @book_new, user: @book_user %>
</div>
<div class="col-md-8 offset-md-1">
<h2>Book detail</h2>
<table class="table">
<tbody>
<tr>
<td>
  <%= link_to user_path(@book_user) do %>
    <%= image_tag @book_user.get_profile_image(100,100) %><br>
    <%= @book_user.name %>
  <% end %>
</td>


<td><%= link_to @book.title, book_path(@book) %></td>

<td><%= @book.body %></td>
<% if @book.user == current_user %>
<td><%= link_to 'Edit', edit_book_path(@book), class: "btn btn-success" %></td>
<td><%= link_to 'Destroy', book_path(@book), class: "btn btn-danger" , method: :delete, data: { confirm: '本当に消しますか?' } %></td>
<% end %>
</tr>
</tbody>
</table>
</div>
</div>