<%= flash[:notice] %>
<div class="row">
<div class="col-md-3">
<%= render 'saidebar', book: @book_new, user: @user %>
</div>
<div class="col-md-8 offset-md-1">
<h2>Book detail</h2>
<table class="table">
<tbody>
<tr>
<td><%= image_tag @book_user.get_profile_image(100,100) %><br>
<%= link_to @book_user.name, user_path(@book_user) %></td>


<td><%= link_to @book.title, book_path(@book) %></td>

<td><%= @book.body %></td>
<% if @book.user == current_user %>
<td><%= link_to 'Edit', edit_book_path(@book) %></td>
<td><%= link_to 'Destroy', book_path(@book), method: :delete, data: { confirm: '本当に消しますか?' } %></td>
<% end %>
</tr>
</tbody>
</table>
</div>
</div>